<!-- /snippets/collection-sidebar.liquid -->

<nav class="collections-nav" role="navigation">
  <ul>
    {% for link in linklists.collections.links %}

    {% assign has_sub_menu = false %}
    {% assign parent_link_active = false %}

    {% assign child_list_handle = link.title | handle %}

    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
    {% assign has_sub_menu = true %}
    {% for l in linklists[child_list_handle].links %}
      {% if page_title == l.title %}
        {% assign parent_link_active = true %}
      {% endif %}

      {% if l.active %}
        {% assign parent_link_active = true %}
      {% endif %}

    {% endfor %}
    {% endif %}

    {% comment %} On product.liquid, find if product is in this collection {% endcomment%}
    {% assign in_active_collection = false %}
    {% for collection in product.collections %}
      {% if in_active_collection == false and collection.title == link.title %}
        {% assign in_active_collection = true %}
      {% endif %}
    {% endfor %}

    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
   
   {% comment %} 
    <li class="has-dropdown{% if link.active or parent_link_active or in_active_collection %} active{% endif %}">
  {% endcomment %} 

    {% assign has_active_grandchild = false %}
    {% for child_link in linklists[child_list_handle].links %}
      {% assign grand_child_list_handle = child_link.title | handle %}
        {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
          {% for grand_child_link in linklists[grand_child_list_handle].links %}
            {% if grand_child_link.active %}
            
              {% assign has_active_grandchild = true %}
              
            {% endif %}
          {% endfor %}
        {% endif %}
     {% endfor %}

    <li class="has-dropdown{% if link.active or parent_link_active or has_active_grandchild %} active{% endif %}">
      {{ link.title | link_to: link.url }}
      
      <ul>

          {% comment %} On product.liquid, find if product is in this subcollection {% endcomment%}
          {% assign in_active_subcollection = false %}
          {% for collection in product.collections %}

            {% if in_active_subcollection == false and collection.title contains child_link.title %}
              {% assign in_active_subcollection = true %}
            {% endif %}
          {% endfor %}

        {% for child_link in linklists[child_list_handle].links %}

        {% assign grand_child_list_handle = child_link.title | handle %}

        {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}

        {% assign in_active_grandchild = false %}
        {% for grand_child_link in linklists[grand_child_list_handle].links %}
          {% if grand_child_link.active %}
            {% assign in_active_grandchild = true %}
          {% endif %}
        {% endfor %}

        <li class="has-dropdown{% if child_link.active or in_active_subcollection or in_active_grandchild %} active{% endif %}">

         {{ child_link.title | link_to: child_link.url }}
          <ul>

            {% for grand_child_link in linklists[grand_child_list_handle].links %}
            <li class="{% if grand_child_link.active %}active{% endif %}">
             {{ grand_child_link.title | link_to: grand_child_link.url }}
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="{% if child_link.active or in_active_subcollection %}active{% endif %}">
          {{ child_link.title | link_to: child_link.url }}
        </li>
        {% endif %}
        {% endfor %}        
      </ul>
    </li>
    {% else %}
    <li class="{% if link.active or parent_link_active or in_active_collection %} active{% endif %}">
      {{ link.title | link_to: link.url }}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% comment %}
  Product tags in the current collection
{% endcomment %}
{% if collection.all_tags.size > 0 %}
  <h2 class="h3">{{ 'collections.sidebar.tags' | t }}</h2>

  {% comment %}
    To provide a 'catch-all' link at the top of the list,
    check against the collection.handle, product type, and vendor.
  {% endcomment %}
  <ul class="no-bullets">
    <li{% unless current_tags %} class="filter--active"{% endunless %}>

      {% comment %}
        Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}">
          {{ 'collections.general.all_of_collection' | t: collection: collection.title }}
        </a>

      {% comment %}
        Good for automatic type collections
      {% endcomment %}
      {% elsif collection.current_type %}
        <a href="{{ collection.current_type | url_for_type }}">
          {{ 'collections.general.all_of_collection' | t: collection: collection.title }}
        </a>

      {% comment %}
        Good for automatic vendor collections
      {% endcomment %}
      {% elsif collection.current_vendor %}
        <a href="{{ collection.current_vendor | url_for_vendor }}">
          {{ 'collections.general.all_of_collection' | t: collection: collection.title }}
        </a>
      {% endif %}
    </li>

    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
        <li class="filter--active">
          {{ tag | link_to_remove_tag: tag }}
        </li>
      {% else %}
        <li>
          {% comment %}
            Use link_to_add_tag if you want to allow filtering
            by multiple tags
          {% endcomment %}
          {{ tag | link_to_tag: tag }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
