<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}">
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- Font Awesome ================================================== -->
  <script src="https://use.fontawesome.com/52a48e669d.js"></script>

  <!-- CSS ================================================== -->
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- wow.js ================================================== -->
  {{ 'wow.min.js' | asset_url | script_tag }}
  <script>
    new WOW().init();
  </script>

  {% if settings.header_scripts != '' %}
    {{ settings.header_scripts }}
  {% endif %}

  {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}
  {% include 'shopstorm-scripttags' %}
  
{% render 'minmaxify-head' %}
</head>
{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 2, '' | handle }}" >

  {% render 'nav-drawer' %}

  {% if settings.ajax_cart_method == "drawer" %}
    {% section 'cart-drawer' %}
  {% endif %}
  
  <div id="PageContainer" class="is-moved-by-drawer{% if settings.enable_zoom %} zoom-enabled{% endif %}">

    {% sections 'header-group' %}

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    {% sections 'footer-group' %}
    
  </div>

  <!-- Bootstrap dropdowns ================================================== -->
  {{ 'bootstrap-dropdowns.min.js' | asset_url | script_tag }}
  
  <!-- FancyBox ================================================== -->
  {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
    {% if settings.enable_zoom %}
      {{ 'magiczoom.css' | asset_url | stylesheet_tag }}
      {{ 'magiczoom.js' | asset_url | script_tag }}
    {% endif %}
  {% endif %}

  <!-- Slick Slider ================================================== -->
  {{ 'slick.min.js' | asset_url | script_tag }}

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
  Stay on page using alternate ajaxify-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "stay" %}
    {% include 'ajaxify-cart' %}
  {% endif %}

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}


  {% include 'plus-variants' %}
</body>
</html>
